* {

padding: 0;
margin : 0;
background-color:white;
display: flex;
flex-direction: column;
align-items: center;
}


h1 {

color: black;
font-size: 50px;
text-align:center;
padding:1%;
font-family: 'Arima Madurai', cursive;


}

form {

background-color: white;
color:black;
text-align:center;
padding:1%;
font-family: 'Roboto', sans-serif;
}

p {


font-family: 'Roboto', sans-serif;
}
h2 {

font-family: 'Roboto', sans-serif;
text-align:center;
}

a {
font-family: 'Arima Madurai', cursive;
text-align:center;
text-decoration:none;
}
